<%- include('../../fragment/header.ejs') %>
    <main>
      <div class="container main">
        <table class="section-table">
          <thead>
            <tr>
              <td>Name</td>
              <td>Surname</td>
              <td>Birthdate</td>
              <td>Email</td>
              <td>Actions</td>
            </tr>
          </thead>
          <tbody>
          <%for (const client of clients) { %>
            <tr>
              <td><%= client.name%></td>
              <td><%= client.surname%></td>
              <td><%= client.birthdate ?
                        client.birthdate.toISOString().split('T')[0]: ''%></td>
              <td><%= client.email%></td>
              <td>
                <a class="btn btn-details table" href="/clients/details/<%= client._id %>">Details</a>
                <a class="btn btn-edit table" href="/clients/edit/<%= client._id%>">Edit</a>
                <a class="btn btn-remove table" href="/clients/delete/<%= client._id%>">Remove</a>
              </td>
            </tr>
          <%}%>
          </tbody>
        </table>
        <a class="btn btn-add" href="/clients/add">Add a client</a>
      </div>
    </main>
<%- include('../../fragment/footer.ejs') %>